{% extends 'base.html.twig' %}
{% block title %}{{ 'Actualités & Astuces | Impact-performances' }}{% endblock %}
{% block slide %}
    <!--************************************
            Home Banner Start
    *************************************-->
    <div id="tg-innerbanner" class="tg-innerbanner">
        <figure data-vide-bg="poster: {{ asset('build/global/static/images/innerpagebanner/img-07.jpg') }}" data-vide-options="position: 0% 50%">
            <figcaption>
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                            <h1>{{ 'Actualités & Astuces' }}</h1>
                            <h2>{{ 'Toute l\'actualité sur la communication & le dévéloppement de votre entreprise' }}</h2>
                        </div>
                    </div>
                </div>
            </figcaption>
        </figure>
    </div>
    <!--************************************
            Home Banner End
    *************************************-->
{% endblock %}
{% block body %}
    <!--************************************
            Blog Detail Start
    *************************************-->
    <div id="tg-content" class="tg-content">
        <div class="tg-blogpost tg-blogdetailvfour">
            <div class="tg-sectionspace tg-haslayout">
                <div class="container">
                    <div class="row">
                        <div class="col-xs-12 col-sm-12 col-md-10 col-md-push-1 col-lg-10 col-lg-push-1">
                            <figure class="tg-blogdetailimg">
                                <img src="{{ asset('build/global/static/images/blog/img-60.jpg') }}" alt="image description">
                            </figure>
                            <div class="tg-detailbox">
                                <h2>Designs covers for Specious Books</h2>
                                <ul class="tg-postmetadata">
                                    <li><span>Par <a href="javascript:void(0);">Admin</a></span></li>
                                    <li><time datetime="2017-07-07">25 Sep {{ 'now'|date('Y') }}</time></li>
                                </ul>
                                <div class="tg-description">
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur ornare maximus feugiat. Maecenas non vulputate orci. Maecenas non sem lacus. Curabitur sed faucibus orci, sit amet scelerisque tortor. Donec mattis, dolor sit amet lacinia tristique, turpis purus auctor risus, at sagittis mi nibh nec quam. Nulla id tincidunt velit. Integer mollis bibendum vulputate.</p>
                                    <p>Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Cras a nisl consectetur, laoreet ante sit amet, blandit nulla. Donec at tortor magna. Vestibulum id dolor sit amet libero sodales venenatis quis sed nisl. Integer placerat nulla vitae hendrerit molestie. Cras tincidunt cursus magna, eu eleifend mauris hendrerit lobortis. Curabitur purus dolor, iaculis ac ipsum sit amet, mattis ornare massa faucibus orci luctus et ultrices posuere cubilia .</p>
                                </div>
                                <div class="tg-sharepost">
                                    <ul class="tg-socialicons">
                                        <li class="tg-facebook"><a href="javascript:void(0);"><i class="icon-facebook-1"></i><span>Partager</span></a></li>
                                        <li class="tg-twitter"><a href="javascript:void(0);"><i class="icon-twitter-1"></i><span>Tweet</span></a></li>
                                        <li class="tg-linkedin"><a href="javascript:void(0);"><i class="icon-linkedin22"></i><span>Partager</span></a></li>
                                    </ul>
                                </div>
                                <div class="tg-author">
                                    <figure class="tg-authorimg">
                                        <img src="{{ asset('build/global/static/images/blog/authorimg.jpg') }}" alt="image description">
                                    </figure>
                                    <div class="tg-authorinfo">
                                        <h3>Admin</h3>
                                        <div class="tg-description">
                                            <P>Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Cras a nisl consectetur, laoreet ante sit amet, blandit nulla. Donec at tortor magna. Vestibulum id dolor sit amet. fringilla aliquet finibus. Donec massa tellus, porttitor non imperdiet sed, commodo vitae risus. Duis eu metus et tellus porttitor malesuada. </P>
                                        </div>
                                        <ul class="tg-socialicons">
                                            <li class="tg-facebook"><a href="javascript:void(0);"><i class="icon-facebook-1"></i><span>Share</span></a></li>
                                            <li class="tg-twitter"><a href="javascript:void(0);"><i class="icon-twitter-1"></i><span>Tweet</span></a></li>
                                            <li class="tg-googleplus"><a href="javascript:void(0);"><i class="icon-google4"></i><span>Share</span></a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--************************************
            Blog Detail End
    *************************************-->
{% endblock %}

