{% extends 'base.html.twig' %}
{% block title %}{{ 'Le Cabinet | Impact-performances' }}{% endblock %}
{% block slide %}
    <!--************************************
            Home Slider Start
    *************************************-->
    <div id="tg-innerbanner" class="tg-innerbanner">
        <figure data-vide-bg="poster: {{ asset('build/global/images/innerpagebanner/img-05.jpg') }}" data-vide-options="position: 0% 50%">
            <figcaption>
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                            <h1>{{ 'Le Cabinet' }}</h1>
                            <h2>Nous aidons nos clients à mesurer l’impact de leurs actions en les guidant <span> et en les accompagnant dans leurs choix stratégiques </span></h2>
                        </div>
                    </div>
                </div>
            </figcaption>
        </figure>
    </div>
    <!--************************************
            Home Slider End
    *************************************-->
{% endblock %}
{% block body %}
    <!--************************************
        What We Do Start
    *************************************-->
    <section class="tg-sectionspace tg-haslayout">
        <div class="container">
            <div class="row">
                <div class="tg-whatwedo">
                    {% for founder in founders %}
                        <div class="col-xs-12 col-sm-12 col-md-5 col-lg-5 pull-left">
                            <div class="tg-imgshortcode">
                                <figure><img src="{{ founder.assertPath|imagine_filter('thumb_425_492') }}" alt="{{ founder.name }}"></figure>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                            <div class="tg-textshortcode">
                                <div class="tg-title tg-titlevone">
                                    <h3><span>{{ founder.office }}</span>{{ founder.name }}</h3>
                                </div>
                                <div class="tg-description">
                                    {{ founder.content|raw }}
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </section>
    <!--************************************
            What We Do End
    *************************************-->

    <!--************************************
            About Us Start
    *************************************-->

    <section class="tg-haslayout tg-paddingbottomzero">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <div class="tg-footerlogobar">
                        <strong class="tg-logo"><a href="{{ path('admin') }}"><img src="{{ asset('build/global/images/logos/logo-red.png') }}" alt="impact performances"></a></strong>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--************************************
            About Us End
    *************************************-->

    <section class="tg-sectionspace tg-haslayout tg-paddingbottomzero">
        <div class="container">
            <div class="row">
                <div class="tg-aboutus tg-aboutusvtwo tg-aboutcreative">
                    {% for cabinet in cabinets %}
                        <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
                            <h2><span>{{ 'A propos de nous' }}</span>{{ cabinet.name |capitalize }}</h2>
                        </div>
                        <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8">
                            <div class="tg-description">
                                {{ cabinet.content|raw }}
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </section>

    <!--************************************
        Creative Works Start
    *************************************-->
    <section class="tg-haslayout" data-z-index="1" data-appear-top-offset="600" data-parallax="scroll" data-image-src="{{ asset('build/global/static/images/parallax/bgparallax-10.jpg') }}">
        <div class="tg-sectionspace tg-parallax tg-parallaxcreativeworks tg-whitecontent">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-push-2 col-lg-8">
                        <div class="tg-sectionhead tg-sectionheadvtwo">
                            <div class="tg-sectiontitle">
                                <h2>{{ 'Notre approche' }}</h2>
                            </div>
                            <div class="tg-description">
                                <p>&nbsp;</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                        <div class="tg-themetabs tg-creativetabs">
                            <ul class="tg-themetabnav" role="tablist">
                                {% for approch in approchs %}
                                    <li role="presentation" {% if loop.first %} class="active" {% endif %}><a href="#etape{{ loop.index }}" aria-controls="{{ loop.index }}" role="tab" data-toggle="tab">{{"Etape " ~ loop.index }}</a></li>
                                {% endfor %}
                            </ul>
                            <div class="tab-content tg-themetabcontent">
                                {% for approch in approchs %}
                                    <div role="tabpanel" class="tab-pane {% if loop.first %} active {% endif %} fade in" id="etape{{ loop.index }}">
                                        <div class="row">
                                            <div class="tg-creativetabcontent">
                                                <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                                                    <h2>{{ approch.title }}</h2>
                                                    <div class="tg-description">
                                                        {{ approch.content|raw }}
                                                    </div>
                                                </div>
                                                <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                                                    <figure><img src="{{ approch.assertPath|imagine_filter('thumb_478') }}" alt="{{ approch.title }}"></figure>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--************************************
            Creative Works End
    *************************************-->

    <!--************************************
    Brands Start
    *************************************-->
    <div class="tg-sectionspace tg-haslayout tg-paddingbottomzero">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-sm-12 col-md-12 col-lg-12">
                    <div id="tg-barandsslider" class="tg-barandsslider owl-carousel tg-barands">
                        {% if partners|length > 0 %}
                            {% for partner in partners %}
                                <div class="item">
                                    <figure>
                                        <a href="javascript:void(0);(0);"><img src="{{ asset(partner.assertPath|imagine_filter('thumb_235_108')) }}" alt="{{ partner.assertPath  }}"></a>
                                    </figure>
                                </div>
                            {% endfor %}
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--************************************
            Brands End
    *************************************-->
{% endblock %}


