{% extends 'base.html.twig' %}
{% block title %}{{ 'Nos Services détail | Impact-performances' }}{% endblock %}
{% block slide %}
    <!--************************************
            Home Banner Start
    *************************************-->
    <div id="tg-innerbanner" class="tg-innerbanner">
        <figure data-vide-bg="poster: {{ asset('build/global/static/images/innerpagebanner/img-07.jpg') }}" data-vide-options="position: 0% 50%">
            <figcaption>
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                            <h1>{{ 'Nos services' }}</h1>
                            <h2>{{ 'Faire de  la communication un levier de développement et de croissance' }}</h2>
                        </div>
                    </div>
                </div>
            </figcaption>
        </figure>
    </div>
    <!--************************************
            Home Banner End
    *************************************-->
{% endblock %}
{% block body %}

    <!--************************************
        Portfolio Detail Start
    *************************************-->
    <div class="tg-haslayout">
        <div class="container">
            <div class="row">
                <div class="tg-productderail">
                    <div id="tg-portfoliocontentfixed" class="tg-portfoliocontentholder tg-portfoliocontentfixed">
                        <div class="tg-productinfo">
                            <h2>{{ service.title|capitalize }}</h2>
                            <div class="tg-description tg-text-justify">
                                {{ service.content|raw }}
                            </div>
                        </div>
                    </div>
                    <div class="tg-portfolioimgholder">
                        <figure class="tg-productimg">
                            <img src="{{ service.assertPath|imagine_filter('thumb_619_436') }}" alt="image description">
                        </figure>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--************************************
            Portfolio Detail End
    *************************************-->

    <!--************************************
            Contact Us Start
    *************************************-->
    <section class="tg-haslayout tg-sectionspace">
        <div class="tg-contactus tg-contactusvtwo">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-push-2 col-lg-8">
                        <div class="tg-sectionhead tg-sectionheadvtwo">
                            <div class="tg-sectiontitle">
                                <h2>{{'Travaillez avec nous'|upper }}</h2>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                        <ul class="tg-address">
                            {% if contacts|length > 0 %}
                                {% for contact in contacts %}
                                    <li>
                                        <figure>
                                            <a href="mailto:info-ci@impact-performances.com?bcc=henoh@impact-performances.com">
                                                <img src="{{ contact.assertPath|imagine_filter('thumb_903_452') }}" alt="{{ contact.country }}">
                                            </a>
                                            <div class="tg-addresscontent">
                                                <h2><span>Localisation {{ contact.country }}</span>{{ contact.country }}</h2>
                                                <em>Phone:  {{ contact.phone }}</em>
                                                <em>Email: <a href="mailto:{{ contact.mail }}?bcc=henoh@impact-performances.com">{{ contact.mail }}</a></em>
                                                <address>{{ contact.address }}</address>
                                                <a class="tg-btngetdirection" href="mailto:{{ contact.mail }}?bcc=henoh@impact-performances.com">{{ 'Nous Ecrirer' }}<i class="fa fa-angle-right"></i></a>
                                            </div>
                                        </figure>
                                    </li>
                                {% endfor %}
                            {% endif %}
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--************************************
            Contact Us End
    *************************************-->
    <!--************************************
    Brands Start
    *************************************-->
    <div class="tg-haslayout tg-paddingbottomzero">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-push-2 col-lg-8">
                    <div class="tg-sectionhead tg-sectionheadvtwo">
                        <div class="tg-sectiontitle">
                            <h2>{{'ils nous ont fait confiance'|upper }}</h2>
                        </div>
                    </div>
                </div>
                <div class="col-lg-12 col-sm-12 col-md-12 col-lg-12">
                    {% if partners|length > 0 %}
                        {% for partner in partners %}
                            <div class="item">
                                <figure>
                                    <a href="javascript:void(0);(0);"><img src="{{ asset(partner.assertPath|imagine_filter('thumb_235_108')) }}" alt="{{ partner.assertPath  }}"></a>
                                </figure>
                            </div>
                        {% endfor %}
                    {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--************************************
            Brands End
    *************************************-->
{% endblock %}

