{% extends 'base.html.twig' %}
{% block title %}{{ 'Impact-performances | Bienvenue' }}{% endblock %}
{% block slide %} {{ include('includes/slide.html.twig') }} {% endblock %}
{% block body %}
    <!--************************************
            A Creative Agency Start
    *************************************-->
    <section class="tg-sectionspace tg-haslayout tg-paddingbottomzero">
        <div class="container">
            <div class="row">
                {% for head in adn %}
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-push-2 col-lg-8">
                        <div class="tg-sectionhead tg-sectionheadvtwo">
                            <div class="tg-sectiontitle">
                                <h2>{{ head.name|upper }}</h2>
                            </div>
                            <div class="tg-description">
                                <p>{{ head.smallContent|raw|truncate('300', '', '...') }}</p>
                            </div>
                        </div>
                    </div>
                {% endfor %}
                <div class="tg-features">
                    {% for itemadn in adn.0.ipitemadn %}
                        {% if adn.0.ipitemadn|length > 0 %}
                            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 tg-mb20">
                                <div class="tg-feature">
                                    <figure><a href="{{ path('page_adn') }}#tga-{{ itemadn.id }}"><img src="{{ asset(itemadn.assertPath|imagine_filter('thumb_523_397')) }}" alt="{{ itemadn.title }}"></a></figure>
                                    <div class="tg-featurecontent">
                                        <div class="tg-title tg-titlevone">
                                            <span class="tg-count">0{{ loop.index }}</span>
                                            <h3><span> ADN </span>{{ itemadn.title }}</h3>
                                        </div>
                                        <div class="tg-description">
                                            <p>{{ itemadn.content|truncate('150','','...')|raw }}</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
        </div>
    </section>
    <!--************************************
            A Creative Agency End
    *************************************-->

    <!--************************************
            Our Main Goal Start
    *************************************-->
    <section class="tg-haslayout" data-z-index="1" data-appear-top-offset="600" data-parallax="scroll" data-image-src="{{ asset('build/global/images/parallax/bgparallax-05.jpg') }}">
        <div class="tg-sectionspace tg-parallax tg-parallaxmaingoalvtwo">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12 col-sm-8 col-md-6 col-lg-6">
                        <div class="tg-maingoal tg-maingoalvtwo">
                            <div class="tg-title tg-titlevone">
                                <h3><span>{{ 'impact performances'|capitalize }} -</span>{{ 'la meilleur agence pour votre communication' }}</h3>
                            </div>
                            {% for cabinet in cabinets %}
                            <div class="tg-description">
                                {{ cabinet.content|truncate(200,'','...')|raw }}
                            </div>
                            {% endfor %}
                            <a class="tg-btn tg-btnblue" href="{{ path('page_agence') }}"><span>{{ 'A propos de nous'|capitalize }}</span></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--************************************
            Our Main Goal End
    *************************************-->

    <!--************************************
            Services V One Start
    *************************************-->
    <section class="tg-sectionspace tg-haslayout">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-push-2 col-lg-8">
                    <div class="tg-sectionhead tg-sectionheadvtwo">
                        <div class="tg-sectiontitle">
                            <h2>{{ 'Nos metiers'|upper }}</h2>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <div class="tg-services tg-servicesvtwo">
                        {% for metier in metiers %}
                            <div class="col-lg-12 col-sm-4 col-md-4 col-lg-4">
                                <div class="row">
                                    <div class="tg-service">
                                        <span class="tg-serviceicon"><i class="icon-lightbulb"></i></span>
                                        <div class="tg-servicetitle">
                                            <h3><a href="{{ path('page_metier') }}#tg-metier{{ metier.id }}">{{ metier.title }}</a></h3>
                                        </div>
                                        <div class="tg-description">
                                            {{ metier.content|truncate(120, '','...')|raw }}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--************************************
            Services V One End
    *************************************-->

    <!--************************************
            Our Main Goal Start
    *************************************-->
    <section class="tg-haslayout" data-z-index="2" data-appear-top-offset="600" data-parallax="scroll" data-image-src="{{ asset('build/global/images/parallax/bgparallax-06.jpg') }}">
        <div class="tg-parallax tg-parallaxmaingoal">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12 col-sm-12 col-md-5 col-lg-5 pull-right">
                        <div class="tg-maingoal">
                            <div class="tg-title tg-titlevone">
                                <h3><span>{{ 'ce que nous faisons'|capitalize }}-</span>{{ 'La vision de notre agence pour vous'|capitalize }}</h3>
                            </div>
                            <div class="tg-description">
                                <p>Lorem ipsum dolor sit amet, eu per legimus referrentur. Ius ne viris repudiare, nominavi sententiae eos in. Et duo salutatus consequat,</p>
                            </div>
                            {% for video in videos %}
                            <div class="tg-btnbox">
                                <a class="tg-btnplay" href={{ video.link }}" data-rel="prettyPhoto[video]"><i class="icon-play3"></i></a>
                                <span>{{ 'Cliquez ici pour regardez la video'|capitalize }}</span>
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--************************************
            Our Main Goal End
    *************************************-->

    <!--************************************
            News & Update Start
    *************************************-->
    <section class="tg-haslayout" data-z-index="2" data-appear-top-offset="600" data-parallax="scroll" data-image-src="{{ asset('build/front/images/parallax/bgparallax-04.jpg') }}">
        <div class="tg-sectionspace tg-parallax tg-parallaxnewsupdate">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12 col-sm-12 col-md-4 col-lg-4">
                        <div class="tg-newsupdates">
                            <div class="tg-sectionhead tg-sectionheadvtwo">
                                <div class="tg-sectiontitle">
                                    <h2>Actualités &amp; Astuces</h2>
                                </div>
                            </div>
                            <h3><span>{{ counts|length }}</span>Articles</h3>
                            <a class="tg-btnviewallpost" href="{{ path('page_blog') }}">{{ 'Voir plus d\'articles' }}</a>
                        </div>
                    </div>
                    <div class="col-lg-12 col-sm-12 col-md-8 col-lg-8">
                        <div id="tg-postsslider" class="tg-postsslider owl-carousel tg-posts">
                            {% for post in posts %}
                                <div class="item">
                                    <article class="tg-post">
                                        <div class="tg-posttitle">
                                            <h3><a href="{{ path('page_blog_detail', {'id': post.id }) }}">{{ post.title }}</a></h3>
                                        </div>
                                        <div class="tg-description">
                                            {{ post.content|truncate(120, '', '...')|raw }}
                                        </div>
                                        <ul class="tg-postmetadata">
                                            <li>
                                                <span>Par <a href="{{ path('page_blog_detail', {'id': post.id }) }}">{{ 'Admin' }}</a></span>
                                            </li>
                                            <li><time datetime="{{ post.created|date('d m Y')  }}">{{ post.created|date('d m Y')  }}</time></li>
                                        </ul>
                                    </article>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--************************************
            News & Update End
    *************************************-->

    <!--************************************
        Services V Five Start
    *************************************-->
    <section class="tg-sectionspace tg-haslayout tg-paddingbottomzero tg-mb50">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <div class="tg-sectionhead tg-sectionheadvtwo">
                        <div class="tg-sectiontitle">
                            <h2>{{ 'Ce que nous vous offrons'|upper }}</h2>
                        </div>
                        <div class="tg-description">
                            <p>&nbsp;.</p>
                        </div>
                    </div>
                </div>
                <div class="tg-services tg-servicesvfive">
                    {% for service in services %}
                        <div class="col-lg-12 col-sm-4 col-md-4 col-lg-4 tg-mb15">
                        <a href="{{ path('page_service_detail', {id: service.id}) }}">
                            <div class="tg-service tg-flipbox">
                                <div class="tg-flipper">
                                    <figure class="tg-front">
                                        <img src="{{ service.assertPath|imagine_filter('thumb_406_341') }}" height="341" width="406" alt="{{ service.title }}">
                                        <figcaption>
                                            <span class="tg-serviceicon"><i class="icon-lightbulb"></i></span>
                                            <div class="tg-servicetitle">
                                                <h3>{{ service.title }}</h3>
                                            </div>
                                        </figcaption>
                                    </figure>
                                    <div class="tg-back">
                                        <div class="tg-description">
                                            {{ service.content|truncate('180', '', '...')|raw }}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </section>
    <!--************************************
            Services V Five End
    *************************************-->

    <!--************************************
        video Area Start
    *************************************-->
    <section class="tg-haslayout tg-sectionspace">
        <div class="container-fluid">
            <div class="row">
                <div class="tg-introduction">
                    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                        <div class="row">
                            <div class="tg-textshortcode tg-bgdark">
                                <h2>{{ 'Faisons bouger les choses'|upper }}</h2>
                                <div class="tg-description">
                                    <p>{{ 'une nouvelle façon de dévélopper votre entreprise'|capitalize}}</p>
                                </div>
                                <a class="tg-btn tg-btnblue" href="{{ path('page_contact') }}"><span>{{ 'ecrivez-nous' }}</span></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                        <div class="row">
                            <div class="tg-video" data-vide-bg="poster: {{ asset('build/global/static/images/contact.jpg') }}" data-vide-options="position: 0% 50%">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--************************************
            video Area End
    *************************************-->

    <!--************************************
    Brands Start
    *************************************-->
    <div class="tg-haslayout tg-paddingbottomzero">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-push-2 col-lg-8">
                    <div class="tg-sectionhead tg-sectionheadvtwo">
                        <div class="tg-sectiontitle">
                            <h2>{{'ils nous ont fait confiance'|upper }}</h2>
                        </div>
                    </div>
                </div>
                <div class="col-lg-12 col-sm-12 col-md-12 col-lg-12">
                    <div id="tg-barandsslider" class="tg-barandsslider owl-carousel tg-barands">
                        {% if partners|length > 0 %}
                            {% for partner in partners %}
                                <div class="item">
                                    <figure>
                                        <a href="javascript:void(0);(0);"><img src="{{ asset(partner.assertPath|imagine_filter('thumb_235_108')) }}" alt="{{ partner.assertPath  }}"></a>
                                    </figure>
                                </div>
                            {% endfor %}
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--************************************
            Brands End
    *************************************-->
{% endblock %}
{% block javascripts %}{% endblock %}
