{% extends 'admin.html.twig' %}
{% block title %} {% endblock %}
{% block body %}
    <div class="main-content">
        <div class="card">
            <h4 class="card-title">{{ 'Dashboard' }}</h4>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-6 col-lg-3">
                    <div class="card shadow-1">
                        <div class="card-body">
                            <div class="text-center my-2">
                                <div class="fs-15 fw-400 text-instagram">
                                    <a href="{{ path('admin') }}" class="text-default">
                                        <span class="icon ti-briefcase"></span>
                                        <span class="title">{{ 'Dashboard'|upper }}</span>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="progress mb-0">
                            <div class="progress-bar bg-primary" role="progressbar" style="width: 95%; height: 6px;" aria-valuenow="95" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                    </div>
                </div>
                <div class="col-6 col-lg-3">
                    <div class="card shadow-1">
                        <div class="card-body">
                            <div class="text-center my-2">
                                <div class="fs-15 fw-400 text-instagram">
                                    <a href="{{ path('category_index') }}" class="text-default">
                                        <span class="icon ti-briefcase"></span>
                                        <span class="title">{{ 'Services Parents'|upper }}</span>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="progress mb-0">
                            <div class="progress-bar bg-primary" role="progressbar" style="width: 95%; height: 6px;" aria-valuenow="95" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                    </div>
                </div>
                <div class="col-6 col-lg-3">
                    <div class="card shadow-1">
                        <div class="card-body">
                            <div class="text-center my-2">
                                <div class="fs-15 fw-400 text-instagram">
                                    <a href="{{ path('section_index') }}" class="text-default">
                                        <span class="icon ti-briefcase"></span>
                                        <span class="title">{{ 'Services & détails'|upper }}</span>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="progress mb-0">
                            <div class="progress-bar bg-primary" role="progressbar" style="width: 95%; height: 6px;" aria-valuenow="95" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                    </div>
                </div>
                <div class="col-6 col-lg-3">
                    <div class="card shadow-1">
                        <div class="card-body">
                            <div class="text-center my-2">
                                <div class="fs-15 fw-400 text-instagram">
                                    <a href="{{ path('filiere_index') }}" class="text-default">
                                        <span class="icon ti-briefcase"></span>
                                        <span class="title">{{ 'Filière de formations'|upper }}</span>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="progress mb-0">
                            <div class="progress-bar bg-primary" role="progressbar" style="width: 95%; height: 6px;" aria-valuenow="95" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                    </div>
                </div>
                <div class="col-6 col-lg-3">
                    <div class="card shadow-1">
                        <div class="card-body">
                            <div class="text-center my-2">
                                <div class="fs-15 fw-400 text-instagram">
                                    <a href="{{ path('event_index') }}" class="text-default">
                                        <span class="icon ti-briefcase"></span>
                                        <span class="title">{{ 'Formations en cours'|upper }}</span>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="progress mb-0">
                            <div class="progress-bar bg-primary" role="progressbar" style="width: 95%; height: 6px;" aria-valuenow="95" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                    </div>
                </div>
                <div class="col-6 col-lg-3">
                    <div class="card shadow-1">
                        <div class="card-body">
                            <div class="text-center my-2">
                                <div class="fs-15 fw-400 text-instagram">
                                    <a href="{{ path('formation_index') }}" class="text-default">
                                        <span class="icon ti-briefcase"></span>
                                        <span class="title">{{ 'Formations & détails'|upper }}</span>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="progress mb-0">
                            <div class="progress-bar bg-primary" role="progressbar" style="width: 95%; height: 6px;" aria-valuenow="95" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                    </div>
                </div>
                <div class="col-6 col-lg-3">
                    <div class="card shadow-1">
                        <div class="card-body">
                            <div class="text-center my-2">
                                <div class="fs-15 fw-400 text-instagram">
                                    <a href="{{ path('subject_index') }}" class="text-default">
                                        <span class="icon ti-briefcase"></span>
                                        <span class="title">{{ 'Catégories d\'actualités'|upper }}</span>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="progress mb-0">
                            <div class="progress-bar bg-primary" role="progressbar" style="width: 95%; height: 6px;" aria-valuenow="95" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                    </div>
                </div>
                <div class="col-6 col-lg-3">
                    <div class="card shadow-1">
                        <div class="card-body">
                            <div class="text-center my-2">
                                <div class="fs-15 fw-400 text-instagram">
                                    <a href="{{ path('post_index') }}" class="text-default">
                                        <span class="icon ti-briefcase"></span>
                                        <span class="title">{{ 'Actualités & détails'|upper }}</span>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="progress mb-0">
                            <div class="progress-bar bg-primary" role="progressbar" style="width: 95%; height: 6px;" aria-valuenow="95" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                    </div>
                </div>
                <div class="col-6 col-lg-3">
                    <div class="card shadow-1">
                        <div class="card-body">
                            <div class="text-center my-2">
                                <div class="fs-15 fw-400 text-instagram">
                                    <a href="{{ path('partner_index') }}" class="text-default">
                                        <span class="icon ti-briefcase"></span>
                                        <span class="title">{{ 'Partenaires'|upper }}</span>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="progress mb-0">
                            <div class="progress-bar bg-primary" role="progressbar" style="width: 95%; height: 6px;" aria-valuenow="95" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                    </div>
                </div>
                <div class="col-6 col-lg-3">
                    <div class="card shadow-1">
                        <div class="card-body">
                            <div class="text-center my-2">
                                <div class="fs-15 fw-400 text-instagram">
                                    <a href="{{ path('users_index') }}" class="text-default">
                                        <span class="icon ti-briefcase"></span>
                                        <span class="title">{{ 'Utilisateurs'|upper }}</span>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="progress mb-0">
                            <div class="progress-bar bg-primary" role="progressbar" style="width: 95%; height: 6px;" aria-valuenow="95" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div><!--/.main-content -->
{% endblock %}