<footer id="tg-footer" class="tg-footer tg-footervtwo">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <div class="tg-footerlogobar">
                    <strong class="tg-logo"><a href="{{ path('admin') }}"><img src="{{ asset('build/global/images/logos/logo-white.png') }}" alt="image description"></a></strong>
                </div>
            </div>
        </div>
    </div>
    <div class="tg-footercolumns">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-sm-3 col-md-4 col-lg-4">
                    <div class="tg-footercolumn tg-widget">
                        <ul>
                            <li><a href="{{ path('page_adn') }}">{{ 'adn'|capitalize }}</a></li>
                            <li><a href="">{{ 'le cabinet'|capitalize }}</a></li>
                            <li><a href="">{{ 'nos metiers'|capitalize }}</a></li>
                            <li><a href="">{{ 'nos services'|capitalize }}</a></li>
                            <li><a href="">{{ 'actualités & astuces'|capitalize }}</a></li>
                            <li><a href="">{{ 'contacts'|capitalize }}</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
                    <div class="tg-footercolumn tg-widget">
                        <ul class="tg-socialicons">
                            <li><a href="javascript:void(0);"><i class="icon-facebook-1"></i></a></li>
                            <li><a href="javascript:void(0);"><i class="icon-twitter-1"></i></a></li>
                            <li><a href="javascript:void(0);"><i class="icon-google4"></i></a></li>
                        </ul>
                        <h4>Newsletter</h4>
                        <form class="tg-formtheme tg-formsubscribe">
                            <fieldset>
                                <input type="email" name="email" class="form-control" placeholder="Enter your Email">
                                <button type="submit"><i class="icon-envelope"></i></button>
                            </fieldset>
                        </form>
                        <span class="tg-copyright">Copyright &copy; {{ 'now'|date('Y') }} Impact-performances. All right reserved. by <a href="mailto:raphaelsampan@gmail.com" target="_top">Agence Venez voir | Raphael Blehoue</a></span>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-3 col-md-4 col-lg-4">
                    <div class="tg-footercolumn tg-widget">
                        <ul>
                            <li><a href="{{ path('page_adn') }}">{{ 'adn'|capitalize }}</a></li>
                            <li><a href="">{{ 'le cabinet'|capitalize }}</a></li>
                            <li><a href="">{{ 'nos metiers'|capitalize }}</a></li>
                            <li><a href="">{{ 'nos services'|capitalize }}</a></li>
                            <li><a href="">{{ 'actualités & astuces'|capitalize }}</a></li>
                            <li><a href="">{{ 'contacts'|capitalize }}</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>