<header id="tg-header" class="tg-header tg-fixedheader tg-headervone">
    <div class="container-fluid">
        <div class="row">
            <div class="tg-headercontent tg-headercontentdark">
                <strong class="tg-logo">
                    <a href="">
                        <img class="tg-logoblack" src="{{ asset('build/global/images/logos/logo-black.png') }}" alt="company logo here">
                        <img class="tg-logowhite" src="{{ asset('build/global/images/logos/logo-white.png') }}" alt="company logo here">
                        <img src="{{ asset('build/global/images/logos/logo.png') }}" alt="company logo here">
                    </a>
                </strong>
                <ul class="tg-socialicons">
                    <li><a href="javascript:void(0);(0);"><i class="icon-facebook-1"></i></a></li>
                    <li><a href="javascript:void(0);(0);"><i class="icon-twitter-1"></i></a></li>
                    <li><a href="javascript:void(0);(0);"><i class="icon-google4"></i></a></li>
                </ul>
                <nav id="tg-nav" class="tg-nav">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#tg-navigation" aria-expanded="false">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                    </div>
                    <div id="tg-navigation" class="collapse navbar-collapse tg-navigation">
                        <ul>
                            <li><a href="">{{ 'menu 1' }}</a></li>
                            <li><a href="">{{ 'menu 2' }}</a></li>
                            <li><a href="">{{ 'menu 3' }}</a></li>
                            <li><a href="">{{ 'menu 4' }}</a></li>
                            <li><a href="">{{ 'menu 5' }}</a></li>
                            <li><a href="">{{ 'menu 6' }}</a></li>
                        </ul>
                    </div>
                </nav>
            </div>
        </div>
    </div>
</header>